In [9]:
from pandas import ExcelFile
import pandas as pd
resumen = pd.ExcelFile('resumen_contable.xlsx')
Valencia = resumen.parse(0,  skiprows=1 , index_col = [0])     # datos de la primera hoja
Sevilla = resumen.parse(1,  skiprows=1 , index_col = [0] )   
Galicia = resumen.parse(2,  skiprows=1 , index_col = [0] )

In [14]:
Valencia.add(Sevilla,fill_value=0).add(Galicia,fill_value=0)

       Gastos  Ingresos
Year
2000   5000.0   13000.0
2001   3000.0    5000.0
2002   5000.0    5000.0
2005   5654.0    9000.0
2006  12701.0    9000.0
2007   6200.0    7000.0
2008   7500.0    7000.0
2010   9000.0    2000.0

In [29]:
tabla_sismicos = pd.read_csv('quakes.csv', 
     names = ['Latitud', 'Longitud', 'Profundidad','Magnitud', 'Estaciones'] )
tabla_sismicos.head()

   Latitud Longitud  Profundidad  Magnitud  Estaciones
1   -20.42   181.62          562       4.8          41
2   -20.62   181.03          650       4.2          15
3   -26.00        -           42       5.4          43
4   -17.97   181.66          626       4.1          19
5   -20.42   181.96          649       4.0          11

In [30]:
##fila 3 está mal. ... capturaré la excepción
def precisionUno (x):
   try:
        return '%.2f' % float(x)
        
   except :
        return 0.0

tabla_sismicos_short=tabla_sismicos.applymap(precisionUno)
tabla_sismicos_short.head()

TypeError: '<' not supported between instances of 'str' and 'int'

In [32]:
tabla_sismicos = pd.read_csv('quakes.csv', 
     names = ['Latitud', 'Longitud', 'Profundidad','Magnitud', 'Estaciones'] )
tabla_sismicos.head()

   Latitud Longitud  Profundidad  Magnitud  Estaciones
1   -20.42   181.62          562       4.8          41
2   -20.62   181.03          650       4.2          15
3   -26.00        -           42       5.4          43
4   -17.97   181.66          626       4.1          19
5   -20.42   181.96          649       4.0          11

In [40]:
tabla_sismicos = pd.read_csv('quakes.csv', 
     names = ['Latitud', 'Longitud', 'Profundidad','Magnitud', 'Estaciones'] , na_values = {'Longitud': ['NULL','-']} )
unDataFrame=pd.DataFrame(tabla_sismicos)
unDataFrame.fillna(0)

      Latitud  Longitud  Profundidad  Magnitud  Estaciones
1      -20.42    181.62          562       4.8          41
2      -20.62    181.03          650       4.2          15
3      -26.00      0.00           42       5.4          43
4      -17.97    181.66          626       4.1          19
5      -20.42    181.96          649       4.0          11
6      -19.68    184.31          195       4.0          12
7      -11.70    166.10           82       4.8          43
8      -28.11    181.93          194       4.4          15
9      -28.74    181.74          211       4.7          35
10     -17.47    179.59          622       4.3          19
11     -21.44    180.69          583       4.4          13
12     -12.26    167.00          249       4.6          16
13     -18.54    182.11          554       4.4          19
14     -21.00    181.66          600       4.4          10
15     -20.70    169.92          139       6.1          94
16     -15.94    184.95          306       4.3          11
17     -13.64    165.96           50       6.0          83
18     -17.83    181.50          590       4.5          21
19     -23.50    179.78          570       4.4          13
20     -22.63    180.31          598       4.4          18
21     -20.84    181.16          576       4.5          17
22     -10.98    166.32          211       4.2          12
23     -23.30    180.16          512       4.4          18
24     -30.20    182.00          125       4.7          22
25     -19.66    180.28          431       5.4          57
26     -17.94    181.49          537       4.0          15
27     -14.72    167.51          155       4.6          18
28     -16.46    180.79          498       5.2          79
29     -20.97    181.47          582       4.5          25
30     -19.84    182.37          328       4.4          17
...       ...       ...          ...       ...         ...
971    -25.79    182.38          172       4.4          14
972    -23.75    184.50           54       5.2          74
973    -24.10    184.50           68       4.7          23
974    -18.56    169.05          217       4.9          35
975    -23.30    184.68          102       4.9          27
976    -17.03    185.74          178       4.2          32
977    -20.77    183.71          251       4.4          47
978    -28.10    183.50           42       4.4          17
979    -18.83    182.26          575       4.3          11
980    -23.00    170.70           43       4.9          20
981    -20.82    181.67          577       5.0          67
982    -22.95    170.56           42       4.7          21
983    -28.22    183.60           75       4.9          49
984    -27.99    183.50           71       4.3          22
985    -15.54    187.15           60       4.5          17
986    -12.37    166.93          291       4.2          16
987    -22.33    171.66          125       5.2          51
988    -22.70    170.30           69       4.8          27
989    -17.86    181.30          614       4.0          12
990    -16.00    184.53          108       4.7          33
991    -20.73    181.42          575       4.3          18
992    -15.45    181.42          409       4.3          27
993    -20.05    183.86          243       4.9          65
994    -17.95    181.37          642       4.0          17
995    -17.70    188.10           45       4.2          10
996    -25.93    179.54          470       4.4          22
997    -12.28    167.06          248       4.7          35
998    -20.13    184.20          244       4.5          34
999    -17.40    187.80           40       4.5          14
1000   -21.59    170.56          165       6.0         119

[1000 rows x 5 columns]